@font-face {
  font-family: "Confortaa";
  src: url(../fonts/Comfortaa-Bold.ttf);
}

html {
  /*height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: #70bg32;
  background-repeat:no-repeat;
  background: rgb(57,56,54);
  background: -moz-linear-gradient(146deg, rgba(57,56,54,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(146deg, rgba(57,56,54,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(146deg, rgba(57,56,54,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#393836",endColorstr="#000000",GradientType=1);*/

  background-color: rgb(255, 255, 255);
}

* {
  margin: O;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-weight: 200;
  outline: none;

}

h1 {
  font-family: "Confortaa";
  color:orangered;
  font-size: 5;
  letter-spacing: 1px;
  font-weight: bolder;
  /*text-shadow: 1px 1px 2px black;*/
}


p {
  font-family: "Confortaa";
  color: #77b528;
  letter-spacing: 1px;
  font-weight: 500;
  line-height: 30px;
}

a,
a:visited {
  color: rgb(24, 24, 24);;
  text-decoration: none;
}
  
.button {
  border: 1px solid rgb(24, 24, 24);
  background: transparent;
  border-radius: 40px;
  padding: 13px 27px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font: 700 0.75rem "Confortaa";
  transition: 0.3s;
}

.button:hover {
  border: 1px solid orangered;
  color: orangered;
}

.img-banner {
   background: url(../img/Orange_Logo.png) center/cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
  min-height: 400px;
}

/*---------------------------------------------------------------*/
/*body {
  background: rgb(66,65,64);
  background: -moz-linear-gradient(146deg, rgba(66,65,64,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-linear-gradient(146deg, rgba(66,65,64,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(146deg, rgba(66,65,64,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#424140",endColorstr="#000000",GradientType=1);
  font-family: "Source Sans Pro", sans-serif;
  }*/
  
  header {
    /*min-height: 100vh;*/
    display: grid;
    grid-template-columns: 50% 50%;
  }

  /*------------SECTION-1--------------------------------------------*/

  .section-1 {
    font-family: "Confortaa";
    letter-spacing: 1px;
    text-align: center;
    border-top: 2px dashed orangered;
    /*box-shadow: inset 0 2px 0 orangered;*/
    display: grid;
    grid-template-columns: 40% 60%;
    color:#77b528;
    font-weight: 500;
    line-height: 30px;
  }

  .section-1 .img {
    background: url(../img/001.jpg) center/cover;
    height: 100%;


  }

/*------------------CONTACT--------------------------------------------*/

.container-contact {
  text-align:left;
  margin-top: auto;
  margin-left: 70px;

}

input {
  color: rgb(32, 32, 32);
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid rgb(185, 185, 185); /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: none; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color:orangered;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color:orange;
}

.container-form {
  text-align: center;
  padding: 40px;
}



